<% provide(:title, 'Users') %>

<% content_for :page_header do %>
  <h1><%= yield(:title) %></h1>
<% end %>

<p>
  <div class="row">
    <div class="col-md-5">
      <%= render "shared/search", url: users_path, content: "Search first name, last name or email." %>
    </div>
  </div>
</p>

<p>
  <%= link_to "New user", new_user_path, class: "btn btn-primary" %>
</p>

<% if @users.size > 0 %>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th class="text-center">ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
  <%= will_paginate %>
<% else %>
  <h4>There are no users.</h4>
<% end %>