<% provide(:title, "My profile") %>

<% content_for :page_header do %>
  <h1><%= yield(:title) %></h1>
<% end %>

<dl class="row">
  <dt class="col-sm-2">First name</dt>
  <dd class="col-sm-10"><%= @user.first_name %></dd>
  <dt class="col-sm-2">Last Name</dt>
  <dd class="col-sm-10"><%= @user.last_name %></dd>
  <dt class="col-sm-2">Email</dt>
  <dd class="col-sm-10"><%= @user.email %></dd>
  <% if current_user.librarian? %>
    <dt class="col-sm-2">Role</dt>
    <dd class="col-sm-10"><%= @user.role %></dd>
  <% end %>
</dl>

<% if current_user.librarian? %>
  <%= link_to "Go to users page", users_path, class: "btn btn-link" %>
  <%= link_to "Edit user", edit_user_path, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
<% end %>