<% provide(:title, 'Borrowings') %>

<% content_for :page_header do %>
  <h1><%= yield(:title) %></h1>
<% end %>

<% if current_user.librarian? %>
  <p>
    <div class="row">
      <div class="col-md-5">
        <%= render "shared/search", url: borrowings_path, content: "Search by first name, last name and email." %>
      </div>
      <div class="col-md-7">
        <%= link_to "Show all", show_all_borrowings_path, class: "btn btn-outline-primary" %>
      </div>
    </div>
  </p>
<% end %>

<% if @borrowings.size > 0 %>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <% if current_user.librarian? %>
          <th>ID</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
        <% end %>
        <th>Book</th>
        <th>Borrowed date</th>
        <th>Return date</th>
      </tr>
    </thead>
    <tbody>
      <%= render @borrowings %>
    </tbody>
  </table>
  <%= will_paginate %>
<% else %>
  <h4>There are no borrowings.</h4>
<% end %>